:root {
  --primary-color: #FFC107;
  --secondary-color: #D4A108;
  --background-light-color: #141725;
  --background-dark-color: #0D0F19;
  --text-light-color: #fff;
  --text-dark-color: #000;
  --screen-width: 100vw;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.bg-light-custom {
  background-color: var(--background-light-color);
}

.bg-dark-custom {
  background-color: var(--background-dark-color);
}

.text-light {
  color: var(--text-light-color);
}

.text-dark {
  color: var(--text-dark-color);
}

.screen-width-100vw {
  width: var(--screen-width);
}

.width-50vw {
  width: 50vw;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.z-1{
  z-index: 1;
}

body {
  color: var(--text-light-color);
  background: var(--background-light-color);
  font-family:Ubuntu, "times new roman", times, roman, serif;
  font-size: 22px;
}

/********************************** HEADER **********************************/

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

#brand {
  color: var(--primary-color);
  font-size: 1.5em;
}

#tooltip-overlay {
  border: 1px solid var(--primary-color);
  opacity: 1;
}

#tooltip-overlay > div {
  background-color: var(--background-dark-color);
  margin-bottom: -6px;
  margin-top: -6px;
}

.filter-contents {
  width: 200px;
}

.searchbox {
  position: relative;
  width: 20vw;
}

.searchbox:focus {
  background: var(--background-dark-color);
}

/********************************* MOVIES LIST **********************************/

.list-heading {
  font-size: 1.5em;
}

.movie-list {
  position: relative;
  top: 10vh;
}

#pagination {
  color: var(--primary-color);
  background: var(--background-dark-color);
  border: 1px solid var(--primary-color);
}

#pagination:hover {
  color: var(--background-dark-color);
  background: var(--primary-color);
}

#pagination-disabled {
  color: var(--secondary-color);
  background: var(--background-light-color);
  border: 1px solid var(--secondary-color);
  cursor: default;
}

/********************************* MOVIE POSTERS **********************************/

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container > img {
  border: 1px solid var(--primary-color);
  width: 330px;
}

.image-container > img:hover {
  cursor: pointer;
}

.image-container:hover .favourite-overlay, 
.image-container:hover .stream-overlay {
  cursor: pointer;
  opacity: 1;
}

.image-container:hover .title-overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: var(--primary-color);
  height: 2em;
  opacity: 0;
  font-size: 0.9em;
}

.favourite-overlay {
  width: 2em;
}

.favourite-overlay:hover {
  background: var(--background-dark-color);
  border: 1px solid var(--secondary-color);
}

.favourite-overlay:hover svg {
  fill: var(--primary-color);
}

.stream-overlay {
  top: 0;
  right: 0;
}

.stream-overlay:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

.title-overlay {
  bottom: 0;
  background: var(--primary-color);
}

.dropdown-btn {
  height: 2.5em;
}

.dropdown-btn:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

.dropdown-menu {
  background: var(--primary-color);
}

.dropdown-item {
  background: var(--primary-color);
}

.dropdown-item:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

/********************************* MOVIE DETAILS *********************************/

#imdb-btn {
  height: 2.5em;
}

.details-poster {
  border: 1px solid var(--primary-color);
}

.trailer-wrapper {
  width: auto;
  height: auto;
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

/********************************* MEDIA QUERIES FOR TABLETS - MAX-WIDTH: 1023 PX *********************************/

@media (max-width: 1023px) {

  body {
    font-size: 20px;
  }

  #navbar-hamburger-icon {
    position: fixed;
    top: 16px;
    left: 40%;
    transform: translate(-50%, 0%);
  }

  #filter-btn {
    margin-bottom: 10px;
  }

  .list-heading {
    font-size: 1.4em;
  }

  .image-container > img {
    width: 270px;
  }

  .favourite-overlay {
    width: 2.2em;
  }

  .details-poster {
    width: 400px;
  }
}

/********************************* MEDIA QUERIES FOR MOBILE - MAX-WIDTH: 767 PX *********************************/

@media (max-width: 767px) {
  #header {
    position: fixed;
    height: 8em;
  }
  
  #brand {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #navbar-hamburger-icon {
    position: fixed;
    top: 105px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #filter-btn, 
  #sort-btn {
    position: relative;
    right: 26px;
    top: 20px;
  }

  .searchbox {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
  }

  .image-container > img {
    width: 200px;
  }

  .overlay {
    font-size: 0.8em;
  }

  .favourite-overlay {
    width: 2.6em;
  }

  .title-overlay {
    height: 46px;
    padding-left: 8px;
  }

  .movie-list {
    position: relative;
    top: 120px;
    margin-bottom: -50px;
  }

  .details {
    position: relative;
    top: 100px;
  }

  .details-poster {
    width: 200px;
  }
}
