:root {
  --primary-color: #FFC107;
  --secondary-color: #D4A108;
  --background-light-color: #141725;
  --background-dark-color: #0D0F19;
  --text-light-color: #fff;
  --text-dark-color: #000;
  --screen-width: 100vw;
}

body{
  color: var(--text-light-color);
  background: var(--background-light-color);
  font-family:Ubuntu, "times new roman", times, roman, serif;
}

.primary-color {
  color: var(--primary-color);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-95%, 0%);
}

/********************************** HEADER **********************************/

.header{
  position: fixed;
  background-color: var(--background-dark-color);
  width: 100%;
  left: 0;
  top: -25px;
  z-index: 1;
}

#brand {
  position: relative;
  color: var(--primary-color);
  font-size: 36px;
  left: 10%;
}

#filter-dropdown {
  color: var(--text-light-color);
  font-size: 22px;
  padding-top: 16px;
  position: relative;
  left: 30%;
  width: 120px;
  text-align: center;
}

#sort-dropdown {
  color: var(--text-light-color);
  font-size: 22px;
  padding-top: 16px;
  position: relative;
  left: 10%;
  width: 120px;
  text-align: center;
}

#filter-dropdown:hover,
#sort-dropdown:hover {
  color: var(--secondary-color);
}

#filter {
  width: 55vw;
}

#sort {
  width: 28vw;
}

.searchbox {
  position: fixed;
  background: var(--background-light-color);
  top: 22px;
  right: 250px;
  width: 25%;
  color: var(--text-light-color);
}

.searchbox:focus {
  background-color: var(--background-light-color);
  color: var(--text-light-color);
}

#login-btn {
  position: fixed;
  top: 22px;
  right: 130px;
}

#sign-up-btn {
  position: fixed;
  top: 22px;
  right: 60px;
}

/********************************* MOVIES LIST **********************************/

.movie-queue {
  position: relative;
  top: 100px;
  left: 64px;
}

#pagination {
  color: var(--primary-color);
  background: var(--background-dark-color);
  border: 1px solid var(--primary-color);
}

#pagination:hover {
  color: var(--background-dark-color);
  background: var(--primary-color);
}

#pagination-disabled {
  color: var(--secondary-color);
  background: var(--background-light-color);
  border: 1px solid var(--secondary-color);
}

/********************************* MOVIE POSTERS **********************************/

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container > img {
  border: 1px solid var(--primary-color);
  height: 500px;
  width: 330px;
}

.image-container > img:hover {
  cursor: pointer;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container:hover .favourite-overlay, 
.image-container:hover .stream-overlay {
  cursor: pointer;
  opacity: 1;
}

.image-container:hover .title-overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: var(--primary-color);
  height: 42px;
  transition: 0s;
  opacity: 0;
  font-size: 20px;
  color: var(--text-dark-color);
}

.favourite-overlay {
  width: 42px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.favourite-overlay:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
  border: 1px solid var(--primary-color);
}

.stream-overlay {
  top: 0;
  right: 0;
  text-align: center;
  border: 1px solid var(--primary-color);
}

.stream-overlay:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

.title-overlay {
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
}

.dropdown-btn {
  height: 42px;
  transition: 0s;
}

.dropdown-btn:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

.dropdown-menu {
  background: var(--primary-color);
}

.dropdown-item {
  color: var(--text-dark-color);
  background: var(--primary-color);
}

.dropdown-item:hover {
  color: var(--primary-color);
  background: var(--background-dark-color);
}

/********************************* MOVIE DETAILS *********************************/

.details-title {
  margin-top: 100px;
  margin-left: 0px;
  z-index: 3;
}

#imdb-btn {
  height: 44px;
  margin-left: 18px;
}

.details-poster {
  border: 1px solid var(--primary-color);
}

.details-body {
  margin-top: -20px;
  padding-top: 0px;
  z-index: -2;
}

.trailer-wrapper {
  width: auto;
  height: auto;
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 0;
  left: 14px;
}

/********************************* MAX-WIDTH 1300PX *********************************/

@media (max-width: 1300px) {

  /* HEADER */

  .header{
    height: 160px;
  }

  #brand {
    position:relative;
    top: -40px;
  }

  #movie-nav-item, 
  #series-nav-item, 
  #my-movie-queue-nav-item {
    top: -40px;
  }

  .searchbox {
    top: 90px;
    left: 80px;
    width: calc(var(--screen-width) - 140px);
  }

  /* MOVIES LIST */

  .movie-queue {
    top: 180px;
  }

  /* DETAILS */

  .details-title {
    margin-top: 180px;
  }

}

/********************************* MAX-WIDTH 978PX *********************************/

@media (max-width: 978px) {

  /* HEADER */

  #brand {
    position: fixed;
    left: 94px;
    top: 7px;
  }

  #movie-nav-item, 
  #series-nav-item, 
  #my-movie-queue-nav-item {
    font-size: 18px;
    left: 18%;
    width: 80px;
  }

  #navbar-menu-icon{
    position: fixed;
    left: 368px;
    top: 24px;
  }

  #basic-navbar-nav {
    position: relative;
    top: 20px;
    left: 410px;
    z-index: 2;
    background: var(--background-dark-color);
    padding-top: 50px;
    padding-right: 30px;
  }

}

/********************************* MAX-WIDTH 646PX *********************************/

@media (max-width: 646px) {

  /* HEADER */

  .header {
    height: 190px;
  }

  #brand {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  #navbar-menu-icon{
    position: fixed;
    top: 70px;
    left: 33%;
    height: 40px;
    transform: translateX(-50%);
  }

  #basic-navbar-nav {
    top: 60px;
    left: 5px;
  }

  #login-btn {
    top: 68px;
    left: calc(66% - 70px);
    transform: translateX(-50%);
  }

  #sign-up-btn {
    top: 68px;
    left: 66%;
    transform: translateX(-50%);
  }

  .searchbox {
    top: 130px;
  }

  /* MOVIES LIST */

  .movie-queue {
    top: 200px;
  }

  /* DETAILS */

  .details-title {
    margin-top: 200px;
  }

}